<div class="panel panel-primary panel-transparent">
  <div class="panel-heading">
    <h2>Create new contact</h2>
  </div>
  
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
        <p>
          <label>First Name (required)</label> 
          <input id="name" class="form-control" type="text" ng-model="contact.firstName" required> 
        </p>
        <p>
          <label>Last Name (required)</label> 
          <input id="name" class="form-control" type="text" ng-model="contact.lastName" required> 
        </p>
        <p>
          <label>Email (required)</label> 
          <input id="name" class="form-control" type="text" ng-model="contact.email" required> 
        </p>
        <p>
          <label>Phone (Mobile)</label> 
          <input id="name" class="form-control" type="text" ng-model="contact.phone.mobile"> 
        </p>
        <p>
          <label>Phone (Work)</label> 
          <input id="name" class="form-control" type="text" ng-model="contact.phone.work"> 
        </p>
        <p>
          <label>Address</label> 
          <input id="name" class="form-control" type="text" ng-model="contact.address"> 
        </p>
        <p>
          <label>Twitter Handle</label> 
          <input id="name" class="form-control" type="text" ng-model="contact.twitter"> 
        </p>
      </div>
      <div class="col-md-4">
        <form name="myForm" ng-controller="MyCtrl">
          <fieldset>
            <legend>Upload on form submit</legend>
            <br>Photo:
            <input type="file" ngf-select ng-model="picFile" name="file"    
                   accept="image/*" ngf-max-size="2MB" required
                   ngf-model-invalid="errorFile">
            <i ng-show="myForm.file.$error.required">*required</i><br>
            <i ng-show="myForm.file.$error.maxSize">File too large 
                {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
            <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
            <br>
            <button ng-disabled="!myForm.$valid" 
                    ng-click="uploadPic(picFile)">Submit</button>
            <span class="progress" ng-show="picFile.progress >= 0">
              <div style="width:{{picFile.progress}}%" 
                  ng-bind="picFile.progress + '%'"></div>
            </span>
            <span ng-show="picFile.result">Upload Successful</span>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
          </fieldset>
          <br>
        </form>
        <p>
          <button style="margin-top:20px" class="btn btn-default" ng-click="saveContact(contact)">Save</button>
          <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
        </p>
      </div>
    </div>
  </div>
</div>
