<div class="panel panel-primary panel-transparent">
  <div class="panel-heading">
    <h2>Create new contact</h2>
  </div>
  
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
        <p>
          <label>First Name (required)</label> 
          <input id="firstName" class="form-control" type="text" ng-model="contact.firstName" required> 
        </p>
        <p>
          <label>Last Name (required)</label> 
          <input id="lastName" class="form-control" type="text" ng-model="contact.lastName" required> 
        </p>
        <p>
          <label>Email (required)</label> 
          <input id="email" class="form-control" type="text" ng-model="contact.email" required> 
        </p>
        <p>
          <label>Phone (Mobile)</label> 
          <input id="phoneMobile" class="form-control" type="text" ng-model="contact.phone.mobile"> 
        </p>
        <p>
          <label>Phone (Work)</label> 
          <input id="phoneWork" class="form-control" type="text" ng-model="contact.phone.work"> 
        </p>
        <p>
          <label>Address</label> 
          <input id="address" class="form-control" type="text" ng-model="contact.address"> 
        </p>
        <p>
          <label>Twitter Handle</label> 
          <input id="twitter" class="form-control" type="text" ng-model="contact.twitter"> 
        </p>
      </div>
      <div class="col-md-4">
        <label>Avitar</label>label>
        <input id="selectImage" class="form-control" type="file" accept="image/*">
        <br>
        <img id="img" src="{{ contact.base64img }}" class="img-responsive img-rounded"/>
        <input id="image" class="form-control" type="hidden" ng-model="contact.base64img">
        <p>
          <button style="margin-top:20px" class="btn btn-default" ng-click="saveContact(contact)">Save</button>
          <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
        </p>
      </div>
    </div>
  </div>
</div>
<script>
function readImage() {
    if ( this.files && this.files[0] ) {
        var FR= new FileReader();
        FR.onload = function(e) {
            document.getElementById("img").src = e.target.result;
            $(function() {
                $('#image').val(e.target.result).trigger('input');
            });
        };       
        FR.readAsDataURL( this.files[0] );
    }
}

document.getElementById("selectImage").addEventListener("change", readImage, false);
</script>
