<div class="panel panel-primary panel-transparent">
  <div class="panel-heading">
    <h2>Create new contact</h2>
  </div>
  
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
        <p>
          <label>First Name (required)</label> 
          <input id="name" class="form-control" type="text" ng-model="contact.firstName" required> 
        </p>
        <p>
          <label>Last Name (required)</label> 
          <input id="name" class="form-control" type="text" ng-model="contact.lastName" required> 
        </p>
        <p>
          <label>Email (required)</label> 
          <input id="name" class="form-control" type="text" ng-model="contact.email" required> 
        </p>
        <p>
          <label>Phone (Mobile)</label> 
          <input id="name" class="form-control" type="text" ng-model="contact.phone.mobile"> 
        </p>
        <p>
          <label>Phone (Work)</label> 
          <input id="name" class="form-control" type="text" ng-model="contact.phone.work"> 
        </p>
        <p>
          <label>Address</label> 
          <input id="name" class="form-control" type="text" ng-model="contact.address"> 
        </p>
        <p>
          <label>Twitter Handle</label> 
          <input id="name" class="form-control" type="text" ng-model="contact.twitter"> 
        </p>
      </div>
      <div class="col-md-4">
        <input type='file' id="asd" accept="image/*"/>
        <br>
        <img id="img" src="//placehold.it/1x1/" class="img-responsive img-rounded"/>
        <input id="base" class="form-control" type="text" ng-model="contact.base64img">
        <p>
          <button style="margin-top:20px" class="btn btn-default" ng-click="saveContact(contact)">Save</button>
          <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
        </p>
      </div>
    </div>
  </div>
</div>
<script>
function el(id){return document.getElementById(id);} // Get elem by ID

function readImage() {
    if ( this.files && this.files[0] ) {
        var FR= new FileReader();
        FR.onload = function(e) {
             el("img").src = e.target.result;
             el("base").value = e.target.result;
        };       
        FR.readAsDataURL( this.files[0] );
    }
}

el("asd").addEventListener("change", readImage, false);
</script>
