    <div class="row">
      <div class="col-md-4">
        <label>Avitar</label>
        <input id="selectImage" class="form-control" type="file" accept="image/*">
        <br>
        <img id="img" src="{{ contact.base64img }}" class="img-responsive img-rounded"/>
        <input id="image" class="form-control" type="text" ng-model="contact.base64img" style="display: none;">
        <p class="text-center">
          <button style="margin-top:20px" class="btn btn-default" ng-click="back()"><span class="glyphicon glyphicon-arrow-left"></span> Back</button>
          <button style="margin-top:20px" class="btn btn-success" ng-click="saveContact(contact)"><span class="glyphicon glyphicon-ok"></span> Save</button>
        </p>
      </div>
      <div class="col-md-8">
        <p>
          <label>Alias*</label> 
          <input id="alias" class="form-control" type="text" ng-model="contact.alias" required> 
        </p>
        <p>
          <label>First Name*</label> 
          <input id="firstName" class="form-control" type="text" ng-model="contact.name.first" required> 
        </p>
        <p>
          <label>Middle Initial(s)</label> 
          <input id="middleInitials" class="form-control" type="text" ng-model="contact.name.middle" > 
        </p>
        <p>
          <label>Last Name*</label> 
          <input id="lastName" class="form-control" type="text" ng-model="contact.name.last"> 
        </p>
        <p>
          <label>Email Address</label> 
          <input id="email" class="form-control" type="text" ng-model="contact.email"> 
        </p>
        <p>
          <label>Species</label> 
          <input id="species" class="form-control" type="text" ng-model="contact.species"> 
        </p>
        <p>
          <label>Team Affiliation</label> 
          <input id="teamAffiliation" class="form-control" type="text" ng-model="contact.affiliation"> 
        </p>
        <p>
          <label>Abilities</label> 
          <input id="Abilities" class="form-control" type="text" ng-model="contact.abilities"> 
        </p>
        <p>
          <label>Twitter Handle</label> 
          <input id="twitter" class="form-control" type="text" ng-model="contact.twitter"> 
        </p>
      </div>
    </div>
<script>
function readImage() {
    if ( this.files && this.files[0] ) {
        var FR= new FileReader();
        FR.onload = function(e) {
            document.getElementById("img").src = e.target.result;
            $(function() {
                $('#image').val(e.target.result).trigger('input');
            });
        };       
        FR.readAsDataURL( this.files[0] );
    }
}

document.getElementById("selectImage").addEventListener("change", readImage, false);
</script>
