<div class="panel panel-primary panel-transparent">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
        <h2>Contact: {{ contact.alias }}</h2>
      </div>
      <div class="col-md-6">
        <p class="text-right" ng-hide="editMode">
          <a href="#/"><button style="margin-top:20px" class="btn btn-success" href="#/"><span class="glyphicon glyphicon-arrow-left"></span> Back</button></a>
          <button style="margin-top:20px" class="btn btn-success" ng-click="toggleEdit()"><span class="glyphicon glyphicon-plus"></span> Edit</button>
          <a href="#/"><button style="margin-top:20px" class="btn btn-danger" ng-click="deleteContact(contact._id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></a>
        </p>
      </div>

  <div class="panel-body">
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <div class="row" ng-hide="editMode">
      <div class="col-md-4">
        <img src="{{ contact.base64img }}" class="img-responsive img-rounded">
      </div>
      <div class="col-md-6">
        <div>
          <p class="lead" ng-if="contact.name.salutation">First name: {{ contact.name.salutation }} </p>
          <p class="lead" ng-if="contact.name.first">First name: {{ contact.name.first }} </p>
          <p class="lead" ng-if="contact.name.middle">Middle Initial: {{ contact.name.middle }} </p>
          <p class="lead" ng-if="contact.name.last">Last Name: {{ contact.name.last }} </p>
          <p class="lead" ng-if="contact.email">E-mail: <a ng-href="mailto:{{ contact.email }}" target="_blank">{{ contact.email }}</a></p>
          <p class="lead" ng-if="contact.species">Species: {{ contact.species }} </p>
          <p class="lead" ng-if="contact.affiliation">Team Affiliation: {{ contact.affiliation }} </p>
          <p class="lead" ng-if="contact.abilities">Abilities: {{ contact.abilities }} </p>
          <p class="lead" ng-if="contact.twitter">twitter: <a ng-href="https://twitter.com/{{ contact.twitter }}" target="_blank">@{{ contact.twitter }}</a></p>
        </div>
      </div>
      <div ng-include="contactFormUrl">
    </div>
  </div>
</div>