<div class="panel panel-primary panel-transparent">
  <div class="panel-heading">
    <h2>Contact: {{ contact.firstName }} {{ contact.lastName }}</h2>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <a href="#/"><button style="margin-top:20px" class="btn btn-success" href="#/"><span class="glyphicon glyphicon-arrow-left"></span> Back</button></a>
        <button style="margin-top:20px" class="btn btn-success" ng-click="toggleEdit()"><span class="glyphicon glyphicon-plus"></span> Edit</button>
        <a href="#/"><button style="margin-top:20px" class="btn btn-danger" ng-click="deleteContact(contact._id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></a>
        <p></p>
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <div class="row" ng-hide="editMode">
      <div class="col-md-4">
        <img src="{{ contact.base64img }}" class="img-responsive img-rounded">
      </div>
      <div class="col-md-6">
        <div> 
          <p class="lead" ng-if="contact.email">email: <a ng-href="mailto:{{ contact.email }}" target="_blank">{{ contact.email }}</a></p>
          <p class="lead" ng-if="contact.phone.mobile">phone (m): {{ contact.phone.mobile }} </p>
          <p class="lead" ng-if="contact.phone.work">phone (w): {{ contact.phone.work }} </p>
          <p class="lead" ng-if="contact.address"> address: {{ contact.address }} </p>
          <p class="lead" ng-if="contact.twitter"> twitter: <a ng-href="https://twitter.com/{{ contact.twitter }}" target="_blank">@{{ contact.twitter }}</a></p>
        </div>
      </div>
      <div ng-include="contactFormUrl">
    </div>
  </div>
</div>