</div>
</div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Terms of Service | Privacy Policy | (c) 2017 by Erik Cass</p>
      </div>
    </footer>
  </body>
</html>
