    <footer class="footer">
        <nav class="navbar navbar-default">
            <div class="container">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><p class="navbar-text"><a href="#/tos">Terms of Service</a></p></li>
                        <li><p class="navbar-text"><a href="#/privacy">Privacy Policy</a></p></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><p class="navbar-text"><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> 2017 by Erik Cass</p></li>
                    </ul>
                </div>
            </div>
        </nav>
    </footer>
    setCarouselHeight('#carousel-example');

    function setCarouselHeight(id)
    {
        var slideHeight = [];
        $(id+' .item').each(function()
        {
            // add all slide heights to an array
            slideHeight.push($(this).height());
        });

        // find the tallest item
        max = Math.max.apply(null, slideHeight);

        // set the slide's height
        $(id+' .carousel-content').each(function()
        {
            $(this).css('height',max+'px');
        });
    }
      </body>
</html>
