<%- include('header') -%>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand" href="#/">mLab Contact List - Modified</div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <% if (user) { %>
        <li><p class="navbar-text">Welcome, <a href="#" class="navbar-link"><%- JSON.stringify(user.firstname).replace(/\"/g, "") %>!</a></p></li>
        <li><a href="/logout">Logout</a></li>
        <li>
			<div class="btn-group">
			  <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></button>
			  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    <span class="caret"></span>
			    <span class="sr-only"><span class="glyphicon glyphicon-cog"></span></span>
			  </button>
			  <ul class="dropdown-menu">
				<li class="dropdown-header">Link my Account</li>
			    <li><a href="/login/facebook" class="btn btn-link">Facebook </a><a href="/login/facebook" class="btn btn-fb"><i class="fa fa-facebook"></i></a></span></li>
			  </ul>
			</div>
        </li>
      <% } else { %>
        <li id="myDropDown" class="dropdown">
          <a href="#" id="dLabel" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
          <ul id="login-dp" class="dropdown-menu" role="menu" aria-labelledby="dLabel">

            <ul class="nav nav-tabs">
              <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
              <li><a href="#signup" data-toggle="tab">Register</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="signin">
                <div class="row">
                  <div class="col-md-12">
                    Login via
                    <div class="social-buttons">
                      <a href="/login/facebook" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                      <a href="/login/twitter" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                    </div>
                    or
                    <form class="form" role="form" method="post" action="/login/local" accept-charset="UTF-8" id="login-nav">
                      <div class="form-group">
                        <label class="sr-only" for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email address" required>
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        <div class="help-block text-right"><a href="">Forget the password?</a></div>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="signup">
                <div class="row">
                  <div class="col-md-12">
                    <form class="form" role="form" method="post" action="/signup" accept-charset="UTF-8" id="login-nav">
                      <div class="form-group">
                        <label class="sr-only" for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email address" required>
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<!-- Dynamically render templates -->
<div class="container" ng-view>
</div>
<script>
$('.dropdown-menu a[data-toggle="tab"]').click(function (e) {
    e.stopPropagation()        
    $(this).tab('show')
})
</script>
<%- include('footer') -%>