<div class="panel panel-primary panel-transparent">
  <!-- Default panel contents -->
  <div class="panel-heading"><a class="btn btn-default" href="#/new/contact">New</a></div>
  <div class="panel-body">
    <p>...</p>
    <table class="table table-hover">
      <tbody>
        <tr ng-repeat="contact in contacts | orderBy:'lastName'" style="cursor:pointer">
          <td>
            <a ng-href="#/contact/{{contact._id}}">{{ contact.firstName }} {{ contact.lastName }}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>